[Unit]
Description=HOMEINFO Digital Signage Systems Monitoring
After=network.target mysql.service
OnFailure=notify-failed@%n

[Service]
User=sysmon
Group=sysmon
ExecStart=/usr/local/bin/sysmon

[Install]
WantedBy=multi-user.target
