[Unit]
Description=HOMEINFO Digital Signage Systems Monitoring
After=network.target mysql.service

[Service]
User=sysmon
Group=sysmon
ExecStart=/usr/local/bin/sysmond
