[Unit]
Description=Check all systems every six hours
After=network.target mysql.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
