[Unit]
Description=HOMEINFO Digital Signage Systems Monitoring Notification
After=network.target mysql.service

[Service]
User=sysmon
Group=sysmon
ExecStart=/usr/local/bin/sysmon-notify
