[Unit]
Description=Check all systems daily
After=network.target mysql.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
