[Unit]
Description=Check all systems every six hours
After=network.target mysql.service

[Timer]
OnCalendar=hourly
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
